.redB {
    margin: 5px;
    bottom: 90px;
    right: 39px;
    /* padding: 2px; */
    z-index: 25;
}

.btnn{
    padding-left: 6rem; 
    padding-right: 6rem;
}

.cardColor{
    border-color:black; 
    background-color:whitesmoke;
}

.img-size{
    max-width:4%; 
    max-height:6%;
}

.borderColor{
    border-color:black; 
}